.resetBlock {
  text-align: center;
}

.reset {
  width: 20rem;
  height: 8rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5rem;
  background-color: #1f3540;
  font-size: 2rem;
  color: #26ffcb;
}
